@page "/enquiry"
@inject Services.EnquiryService EnquiryService
@using BlazorAppEnquiry.Models
@inject NavigationManager Navigation

<h3 class="text-center my-4">Submit an Enquiry</h3>

<div class="container">
    <EditForm Model="@enquiry" OnValidSubmit="SubmitEnquiry" FormName="Enquiry">

        <div class="mb-3 row">
            <label for="title" class="col-md-4 col-form-label">Title</label>
            <div class="col-md-8">
                <InputText id="title" class="form-control" @bind-Value="enquiry.Title" placeholder="Enter your title" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="firstName" class="col-md-4 col-form-label">First Name</label>
            <div class="col-md-8">
                <InputText id="firstName" class="form-control" @bind-Value="enquiry.FirstName" placeholder="Enter your first name" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="surname" class="col-md-4 col-form-label">Surname</label>
            <div class="col-md-8">
                <InputText id="surname" class="form-control" @bind-Value="enquiry.Surname" placeholder="Enter your surname" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="postalAddress" class="col-md-4 col-form-label">Postal Address</label>
            <div class="col-md-8">
                <InputText id="postalAddress" class="form-control" @bind-Value="enquiry.PostalAddress" placeholder="Enter your postal address" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="emailAddress" class="col-md-4 col-form-label">Email Address</label>
            <div class="col-md-8">
                <InputText id="emailAddress" type="email" class="form-control" @bind-Value="enquiry.EmailAddress" placeholder="Enter your email" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="details" class="col-md-4 col-form-label">Details</label>
            <div class="col-md-8">
                <InputTextArea id="details" class="form-control" @bind-Value="enquiry.Details" placeholder="Enter your enquiry details" required></InputTextArea>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="enquirySubject" class="col-md-4 col-form-label">Subject</label>
            <div class="col-md-8">
                <InputSelect id="enquirySubject" class="form-select" @bind-Value="enquiry.EnquirySubject" required>
                    <option value="GCV Labs">GCV Labs</option>
                    <option value="GCV Invest">GCV Invest</option>
                    <option value="Other">Other</option>
                </InputSelect>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private Enquiry enquiry { get; set; } = new Enquiry();

    protected override void OnInitialized()
    {
        enquiry!.Title ??= "";
        enquiry!.FirstName ??= "";
        enquiry!.Surname ??= "";
        enquiry!.PostalAddress ??= "";
        enquiry!.EmailAddress ??= "";
        enquiry!.EnquirySubject ??= "";
    }

    private async Task SubmitEnquiry()
    {
        enquiry!.Id = Guid.NewGuid();
        enquiry!.Status = "Open";
        await EnquiryService.AddEnquiryAsync(enquiry);
        Navigation.NavigateTo("/success");
    }
}